<div class="card text-center">
  <div class="card-header">
    Red neuronal
  </div>
  <div class="card-body">
    <h5 class="card-title">Parametrización de red neuronal</h5>

    <div class="shadow-sm p-3 mb-5 bg-body rounded row">
      <div class="row">
        <div class="input-group mb-3">
          <input type="file" (change)="leerDatos($event)" class="form-control" id="inputGroupFile01">
        </div>
      </div>
      <div class="row">
        <div class="col ms-5">
          <div class="text-nowrap bg-light border" style="width: 14rem;">
            Cantidad de entradas: {{totalEntradas}}
          </div>
        </div>
        <div class="col">
          <div class="text-nowrap bg-light border" style="width: 14rem;">
            Cantidad de salidas: {{totalSalidas}}
          </div>
        </div>
        <div class="col">
          <div class="text-nowrap bg-light border" style="width: 14rem;">
            Cantidad de patrones: {{totalPatrones}}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupSelect01">Tipo de red</label>
          <select (change)="getTipoRed($event)" class="form-select" id="inputGroupSelect01">
            <option selected>--</option>
            <option value="Unicapa">Unicapa</option>
            <option value="Multicapa">Multicapa</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupSelect01">Tipo de red</label>
          <select (change)="getTipoRedF($event)" class="form-select" id="inputGroupSelect01">
            <option selected>--</option>
            <option value="PERCEPTRON">PERCEPTRON</option>
            <option value="ADALINE">ADALINE</option>
            <option value="BACKPROPAGATION">BACKPROPAGATION</option>
          </select>
        </div>
      </div>

    </div>

    <div class="row" >
      <div class="col">
        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupSelect01">Función de activación</label>
          <select (change)="getFuncionDeActivacion($event)" class="form-select" id="inputGroupSelect01">
            <option selected>--</option>
            <option *ngFor="let funcion of listaFuncionesActivacion" ngValue="funcion">{{funcion}}</option>
          </select>
        </div>
      </div>
    </div>

    <a href="#" class="btn btn-success">Listo</a>
  </div>
  <div class="card-footer text-muted">
    AJAM AJAM
  </div>
</div>
